{% if hidden %}
    <form class="rec-form" method="POST" style="display: none; left: 100%">
{% else %}
    <form class="rec-form" method="POST">
{% endif %}
    <div class="todo">
        <div class="todo-search">
            <div class="search-label">Customer:</div>
            <input class="todo-search-field" type="text" value="{{ customer_lnr }}" placeholder="customer_lnr" name="customer_lnr" disabled="disabled">
            <div class="customer-icon fui-man-24"></div>
        </div>
        <ul class="reccomendation-list">
            {% for item in rec_list %}
                <li class="recommendation-item" data-name="{{ item }}">
                    <div class="todo-content">
                        <h4 class="todo-name"><strong>{{ loop.index }}: {{ item }}</strong></h4>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <input class="state_data" type="hidden" value="{{ state_data }}">
    <div class="todo-time-step">
      <div class="time-step-field">Time Step:</div>
      <input class="time-step-input" type="number" placeholder="Days until next purchase.">
    </div>
    <input class="purchase-btn btn btn-success btn-block btn-large" type="submit" value="Purchase">
</form>
