<div class="span5 rec-list-wrapper">
    <form class="rec-form" method="POST">

        <div class="todo">
            <div class="todo-search">
                <div class="search-label">Customer:</div>
                <input class="todo-search-field" type="text" value="{{ customer_lnr }}" placeholder="customer_lnr" name="customer_lnr" disabled="disabled">
                <div class="customer-icon fui-man-24"></div>
            </div>
            <ul class="recommendation-list">
                {% for item in rec_list %}
                    {% if loop.index <= 50 %}
                        <li class="recommendation-item" data-group_id="{{ item.group_id }}">
                            <div class="todo-content">
                                <h4 class="todo-name"><strong>{{ loop.index }}: {{ item.group_name }}</strong> prob={{ '%0.2f' % item.prob|float }}</h4>
                                <div class="quantity">
                                    <span class="subadd-wrapper"><span class="sub">-</span></span>
                                    <input class="quantity_input" type="text" name="quantity" value="0">
                                    <span class="subadd-wrapper"><span class="add">+</span></span>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="round-bottom"></div>
    </form>
</div>
