<div class="span2 time-step-wrapper">
    <div class="time-step">
        <h4>Days Passed</h4>
        <form class="time-step-form">
            <div class="sub-wrapper">
                <span class="subadd-wrapper"><span class="timesub">-</span></span>
                <input class="time-step-input" type="text" name="time-step" value="1">
                <span class="subadd-wrapper"><span class="timeadd">+</span></span>
            </div>
            <input type="submit" class="btn btn-success time-step-btn" value="Next List">
        </form>
    </div>
</div>
