html, body {
    width: 100%;
}

#header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  color: #BDC3CD;
}

#header img {
  float: left;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

#header {
  width: 70%;
  display: block;
  float: left;
  margin-left: 100px;
}

.todo {
  margin-bottom: 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
}


.todo li {
    background: #34495e center no-repeat;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
}

.todo li.todo-done {
    background: transparent center no-repeat;
}

.round-bottom {
    width: 100%;
    height: 10px;
    background: #34495e;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.customer-icon {
  float: right;
  font-size: 24px;
  margin-top: 5px;
}

.purchase-btn {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.pagination {
  margin: 0px;
}

.pagination ul {
  width: 100%;
}

.pagination .previous {
  float: left;
}

.pagination .previous a:hover {
  background-color: #2ECC71;
}

.pagination .next {
  float: right;
}

.pagination .next a:hover {
  background-color: #2ECC71;
}

#lists {
  overflow: hidden;
}

.rec-form {
  position: relative;
}

.search-label {
  color: #34495e;
  font-size: 19px;
  font-weight: 700;
  margin: 0;
  line-height: 23px;
  padding: 5px 10px 0px 0px;
  text-indent: 0;
  float:left;
}

.pagination-index {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  float: left;
  margin-top: 10px;
  padding-right: 20px;
}

.pagination {
    margin-bottom: 20px;
}

#loading {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
  opacity: 0;
}

#loading img {
  padding-right: 30px;
}

.todo-name {
    float: left;
}

.quantity {
    float: right;
}

.add, .sub, .timeadd, .timesub{
    font-weight: bold;
    font-size: 20px;
    color: #fbfbfb;
    display: block;
    text-align: center;
}

.quantity .quantity_input {
    height: 10px;
    width: 40px;
    color: #2ECC71;
    font-weight: bold;
    font-size: 20px;
    background: #34495e center no-repeat;
    border: 0px;
    text-align: center;
}

.todo li.todo-done .quantity_input {
    background-color: #2C3E50;
}

.subadd-wrapper {
    display: inline-block;
    background-color: #27AE60;
    height: 20px;
    width: 20px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

#floating-menu {
  width: 100%;
  padding: 5px;
  background-color: #2C3E50;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 3px 5px #888888;
}

.purchase-btn {
  width: 100px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  float: left;
  margin-right: 30px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

#shopping-content {
  margin-top: 50px;
}

.rec-list-wrapper {
    position: relative;
}

.hero-unit {
    position: relative;
}

.hero-unit h1 {
  font-size: 30px; 
}

.hero-unit p {
  font-size: 20px;
}

.btn-previous {
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  margin-left: 10px;
  margin-top: 300px;
  position: fixed;
  z-index: 2;
}

.btn-next {
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  margin-top: 300px;
  margin-left: 94%;
  position: fixed;
  z-index: 2;
}

.time-step {
    width: 170px;
    background-color: #2C3E50;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    position: fixed;
    margin-top: 210px;
}

.time-step h4 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #2ECC71;
  margin-top: 0px;
  padding: 5px 0px 5px 0px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.time-step .time-step-input {
    height: 10px;
    width: 40px;
    color: #2ECC71;
    font-weight: bold;
    font-size: 20px;
    background-color: #2C3E50;
    border: 0px;
    text-align: center;

}

.time-step .sub-wrapper {
    margin: 0 auto;
    width: 100px;
}

.time-step .time-step-btn {
    width: 100%;
    font-weight: bold;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.time-step form {
    margin: 0px;
}
