#header h1 {
  float: right;
}

#header img {
  float: left;
  height: 75px;
  width: 75px;
}

#header {
  margin-top: 20px;
  height: 100px;
}

.todo {
  margin-bottom: 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
}

.todo li {
    background: #34495e center no-repeat;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
}

.todo li.todo-done {
    background: transparent center no-repeat;
}

.customer-icon {
  float: right;
  font-size: 24px;
  margin-top: 5px;
}

.purchase-btn {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.pagination {
  margin: 0px;
}

.pagination ul {
  width: 100%;
}

.pagination .previous {
  float: left;
}

.pagination .previous a:hover {
  background-color: #2ECC71;
}

.pagination .next {
  float: right;
}

.pagination .next a:hover {
  background-color: #2ECC71;
}

#lists {
  overflow: hidden;
}

.rec-form {
  position: relative;
}

.search-label {
  color: #34495e;
  font-size: 19px;
  font-weight: 700;
  margin: 0;
  line-height: 23px;
  padding: 5px 10px 0px 0px;
  text-indent: 0;
  float:left;
}

.pagination-index {
  text-align: center;
  position: relative;
  top: 30px;
  font-weight: 700;
  font-size: 17px;
  width: 50%;
  margin: 0 auto;
}

.pagination {
    margin-bottom: 20px;
}

#loading {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
  opacity: 0;
}

#loading img {
  padding-right: 30px;
}

.todo-time-step {
  background: #95A5A6;
  background-size: 16px 16px;
  color: #34495e;
  padding: 10px;
}

.todo-time-step .time-step-input {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  border-style: none;
  color: #34495e;
  width: 300px;
}

.time-step-field {
  color: #34495e;
  font-size: 19px;
  font-weight: 700;
  margin: 0;
  line-height: 25px;
  padding: 5px 10px 0px 0px;
  text-indent: 0;
  float:left;
}

.todo-name {
    float: left;
}

.quantity {
    float: right;
}

.add, .sub {
    font-weight: bold;
    font-size: 25px;
    color: #fbfbfb;
    display: block;
    text-align: center;
}

.quantity .quantity_input {
    height: 10px;
    width: 40px;
    color: #2ECC71;
    font-weight: bold;
    font-size: 20px;
    background: #34495e center no-repeat;
    border: 0px;
    text-align: center;
}

.todo li.todo-done .quantity_input {
    background-color: #2C3E50;
}

.subadd-wrapper {
    display: inline-block;
    background-color: #27AE60;
    height: 25px;
    width: 25px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
